version: '3.1'

services:
  mongo:
    image: mongo
    restart: always
    ports:
      - '27017:27017'
#    volumes:
#      - ./mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: bochkogram

  node:
    build: ./server
    restart: always
    ports:
      - '7000:7000'
    links:
      - mongo

  web:
    build: ./web
    restart: always
    ports:
      - '80:80'
    links:
      - node
